<div class="wrap container-fluid" style="margin-top: 3em;">
    <section>
        <div class="row">
            <div class="col-xs-7 login-text-box">
                <p class="login-heading">Login
                </p>
                <p class="login-text">Get access to your orders. Wishlist and Recommendations.
                </p>
            </div>
            <div class="col-xs-5">
                <form class="login-form">

                    {{#each loginData}}
                    <div class="form-group">
                        <input type="{{type}}" name="{{label}}" class="form-control" required />
                        <label class="form-label">{{label}}
                        </label>
                    </div>
                    {{/each}}
                    <div class="form-group">
                        <button class="login-btn">Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>